<div class="content">
	<div class="current-character {{#if (eq currentPC.id controlledCharacter.id)}}selected{{/if}}">
	  <img
		src="{{currentPC.img}}"
		alt="{{currentPC.name}}"
		data-pcID="{{currentPC.id}}"
		title="Current Character: {{currentPC.name}}. {{#unless (eq currentPC.id controlledCharacter.id)}}Token not selected. Click portrait to select token.{{/unless}}"
	  />
	  <svg class="svg-shadow" viewBox="0 0 100 100">
		  <clipPath id="shadow-clip">

		  	<polygon class="shadow-clip__polygon" points="0 0, 80 0, 100 20, 100 100, 80 100, 20 100, 0 80, 0 20"></polygon>
		  </clipPath>	
		  <polygon class="svg-shadow__polygon" points="0 0, 80 0, 100 20, 100 100, 80 100, 20 100, 0 80, 0 20"></polygon>
	  </svg>		
	  <div class="background">

	  </div>
	  <div class="line-effect"></div>
	
	  {{!-- <div class="border-holder horizontal"></div>
	  <div class="border-holder skewed"></div> --}}
 
		<div class="otherCharacters">
		  {{#each otherCharacters}}
			<img
			  class="secondary-character {{#if (eq this.id @root.controlledCharacter.id)}}selected{{/if}}"
			  src="{{this.img}}"
			  alt="{{this.name}}"
			  data-pcID="{{this.id}}"
				title="Click to make {{this.name}} your current character."
			/>
		  {{/each}}
		</div>
	  {{!-- {{#if isGM}}
	  	<div class="otherCharacters">
			  <!--unless the controlled character is the GM's current character-->
			  {{log controlledCharacter.name currentPC.name}}
			  {{#unless (eq controlledCharacter.id currentPC.id)}}
			  <img src="{{controlledCharacter.img}}" alt="{{controlledCharacter.name}}" data-pcID="{{controlledCharacter.id}}" class="secondary-character">
			  {{/unless}}
		  </div>
	  {{/if}} --}}
	</div>
	<div class="other-users">
		{{!-- <button data-action="toggle-player-list">PL</button> --}}
	  {{#each activeUsers}}
		<div
		  class="active-user"
		  data-id={{this.id}}
		  style="background-color: {{this.color}};"
		>
		  <p class="user-initials" style="background-color: {{this.color}}">{{getFirstTwoLetters this.data.name}}</p>
		  <div class="user-detail">
			  {{!-- <div class="badge" style="background-color: {{this.color}};"></div> --}}
			 <p>{{this.data.name}}: <em>{{this.charname}}</em></p> 
			</div>
		</div>
	  {{/each}}
	</div>
</div>
<div class="utility-buttons">
		<button data-action="toggle-player-list" class="btn-primary btn-round"><i class="far fa-user"></i></button>
 </div> 
<div class="underlay"></div>