<form class="flex-col">
    <div><input type="text" id="search" placeholder="Search" /></div>
    <div class="sceneFilterGroup">
        <input type="radio" name="sceneFilter" id="none" value="none" checked />
        <label for="none">
            None</label>
        <input type="radio" name="sceneFilter" id="active" value="active" />
        <label for="active">
            Active</label>
        <input type="radio" name="sceneFilter" id="viewed" value="viewed" />
        <label for="viewed">
            Viewed</label>
    </div>
    <div class="dataFilterGroup">
        <input type="radio" name="dataFilter" id="stats" value="stats" checked />
        <label for="stats">
            Stats</label>
  		<input type="radio" name="dataFilter" id="skills" value="skills" />
        <label for="skills">
            Skills</label>
        <input type="radio" name="dataFilter" id="actorItems" value="actorItems" />
        <label for="actorItems">
            Items</label>
      
    </div>
    <table id="partyTable">
        {{#if (eq dataFilter "stats")}}
            <tr>
                <th>Name</th>
                <th class="header__might">Might</th>
                <th class="header__speed">Speed</th>
                <th class="header__intellect">Intellect</th>
                <th>Damage Track</th>
            </tr>
            {{#each pcs}}
                <tr class="cellRow">
                    <td class="name" id={{this.id}}><div>
                            <img
                                src="{{this.img}}"
                                alt="pc avatar"
                                class="img"
                            />{{this.name}}
                        </div></td>
                    {{#with this.data.data.pools}}
                        <td class="might"><span
                                class="{{lowPool might.value}}"
                            >{{might.value}}</span>/{{might.max}}</td>
                        <td class="speed"><span
                                class="{{lowPool speed.value}}"
                            >{{speed.value}}</span>/{{speed.max}}</td>
                        <td class="intellect"><span
                                class="{{lowPool intellect.value}}"
                            >{{intellect.value}}</span>/{{intellect.max}}</td>
                    {{/with}}
                    {{#with this.data.data.damage}}
                        <td class="dmgTrack {{damageTrack}}">{{damageTrack}}</td>
                    {{/with}}
                </tr>
            {{/each}}
        {{/if}}
        {{#if (eq dataFilter "skills")}}
            <tr>
                <th>Name</th>
                <th class="header__skills">Skills</th>
                <th class="header__abilities">Abilities</th>
                <th class="header__attacks">Attacks</th>
            </tr>
       {{> "modules/hud-and-trackers/templates/party-overview/po-abilities-partial.hbs"}} 
        {{/if}}
        {{#if (eq dataFilter "actorItems")}}
            <tr>
                <th>Name</th>
                <th class="header__cyphers">Cyphers</th>
                <th class="header__artifacts">Artifacts</th>
                <th class="header__other">Other</th>
            </tr>
            {{> "modules/hud-and-trackers/templates/party-overview/po-items-partial.hbs"}} 
        {{/if}}
    </table>
    <!--Add tab to show artifacts & cyphers too-->
</form>