{{#each pcs}}
  <tr class="cellRow skills" id={{this.id}}>
    <td class="name" id={{this.id}}>
      <div>
        <i class="fas fa-chevron-circle-right indicator"></i>
        <img src="{{this.img}}" alt="pc avatar" class="img" />
        {{this.name}}
      </div>
    </td>
    {{#with this.data.items}}
      <td class="skill">
        <div>
          {{#each (filterByType this "skill")}}
            <li id="{{this.id}}">
              {{this.name}}
            </li>
          {{/each}}
        </div>
      </td>
      <td class="ability">
        <div>
          {{#each (filterByType this "ability")}}
            <li id="{{this.id}}">
              {{this.name}}
            </li>
          {{/each}}
        </div>
      </td>
      <td class="attack">
        <div>
          {{#each (filterByType this "attack")}}
            <li id="{{this.id}}">
              {{this.name}}
            </li>
          {{/each}}
        </div>
      </td>
    {{/with}}
  </tr>
{{/each}}