	<div {{#if (eq pinned "true")}}class="hud-item pinned"{{else}}class="hud-item | interactive | bg-glass hover-bg-dynamic | rounded hover-reveal-right"{{/if}} id={{id}} data-type={{type}}>
		<h1 class="hud-item__title">{{this.name}}</h1>
		<span>{{clean summaryInfo}}</span>
		{{#unless (eq this.description "")}}
			<div class="hud-item__description hover-reveal-right-child">
				{{#each fullInfo}}
					<h3><span>{{clean (@key)}}:</span> {{clean this}}</h3>
				{{/each}}
				<p>{{clean description}}</p>
			</div>
		{{/unless}}
	</div>