<div class="sceneMap character-scene-display">
<section class="innerSceneWrapper">
	<ul class="innerScenes">
	{{#each innerScenes as |scene|}}
	<li class="option rounded interactive">
		<img src="{{scene.imagePath}}" alt="{{scene.name}}" data-action="browse">
		<input type="text" value="{{scene.name}}">
	</li>
	{{/each}}
	<li class="option rounded interactive" data-action="browse">
		<img src="/Idyllwild/Art/Characters/placeholder.webp" alt="placeholder" data-action="browse">
		<input type="text" value="New Inner Scene">
	</li>
</ul>
</section> 
<section class="selectedCharactersWrapper">
	<h2>Characters In Scene</h2>
	  <ul class="addedToScene">
		{{#each characters}}
		<li class="option rounded interactive removable" data-action="remove" data-name="{{this.name}}" data-image-path="{{this.imagePath}}">
			<img src="{{this.imagePath}}" alt="{{this.name}}" srcset="">
			<p>{{this.name}}</p>
	</li>
		{{/each}}
	  </ul>
</section>
<hr>
	<section class="characterOptionsWrapper">
		<label for="clanSelect">Pick A Clan</label>
		<select name="clanSelect" id="clanSelect">
		   {{#each clans}}
			 <option value="{{this.value}}" {{#if (eq @root.clanSelect this.value)}}
				selected	
			  {{/if}}>
			   {{this.name}}
			 </option>
		   {{/each}}
		 </select>
		<h2>Options Characters</h2>
		 <ul class="characterOptions">
			{{#each options}}
			<li class="option rounded interactive" data-action="select" data-name="{{this.name}}" data-image-path="{{this.imagePath}}">
				<img src="{{this.imagePath}}" alt="{{this.name}}" srcset="">
				<p>{{this.name}}</p>
			</li>
			{{/each}}
		 </ul>
		</div>