<section class="display-section">
    {{#with global}}
        <nav class="nav flex-row">
            {{#each tabs}}
                <button data-tab="{{this.id}}" data-tab-type="global">{{this.label}}</button>
            {{/each}}
        </nav>
        {{#each tabs}}
            <section class="tab-section" id="{{this.id}}">
                {{#if (eq this.id "selected-character")}}
                    <h1></h1>
                {{/if}}
                <header class="header flex-row flex-wrap">
                    {{#if (eq this.id "all-characters")}}
                        {{#with @root.clans}}
                            {{#each tabs}}
                                <button data-tab={{this.id}} data-tab-type="clans">{{this.label}}</button>
                            {{/each}}
                        {{/with}}

                    {{/if}}

                </header>
                <div class="main flex-row flex-wrap">

                    {{#if (eq this.id "selected-character")}}
                        <div class="content-wrapper">
                            {{#each @root.character.tabs}}
                                <section id="{{this.id}}" class="content flex-col flex-wrap"></section>
                            {{/each}}
                        </div>
                    {{/if}}
                    {{#if (eq this.id "current-location")}}
                        <div class="content-wrapper">
                            {{#each @root.location.tabs}}
                                <section id="{{this.id}}" class="content"></section>
                            {{/each}}
                        </div>
                    {{/if}}
                </div>
                {{#if (eq this.id "current-location")}}{{/if}}
                <section class="tabs-container flex-row flex-wrap" id="character-tabs">
                    <div class="wrapper">
                        {{#if (eq this.id "selected-character")}}
                            {{#each @root.character.tabs}}
                                <button data-tab="{{this.id}}" data-tab-type="character">{{this.label}}</button>
                            {{/each}}
                        {{else}}
                            {{#each @root.location.tabs}}
                                <button data-tab="{{this.id}}" data-tab-type="location">{{this.label}}</button>
                            {{/each}}
                        {{/if}}
                    </div>
                    <button data-action="expandTabs"> <i class="fas fa-caret-right"></i> </button>
                </section>

            </section>
        {{/each}}

    {{/with}}
</section>
<button class="toggle-show-hide" data-action="expand">
    Scene Characters and Locations
</button>