<button
  class="custom-button"
  data-action="{{this.action}}"
  data-nested="{{this.nested}}"
  title="{{this.name}}"
  data-type="{{this.type}}"
  data-document-id="{{this.documentId}}"
>
  <img src="{{this.img}}" alt="{{this.name}}" />
</button>