<section class="character-scene-display">
  <div>
    <input
      type="text"
      id="search"
      placeholder="Search"
      value="{{currentSearch}}"
    />
  </div>
  <div class="sceneFilterGroup">
    <input type="radio" name="sceneFilter" id="none" value="none" checked />
    <label for="none">
      None
    </label>
    <input type="radio" name="sceneFilter" id="active" value="active" />
    <label for="active">
      Active
    </label>
    <input type="radio" name="sceneFilter" id="viewed" value="viewed" />
    <label for="global">
      Global
    </label>
  </div>
  <div class="currentFilterGroup">
    {{#each currentFilterTags}}
      <button
        class="tag-chip filled slight-rounded remove-on-click"
        data-action="remove-tag-filter"
      >
        {{this}}
      </button>
    {{/each}}
  </div>
  <div class="config-wrapper side-drawer">
    <fieldset class="views border-accent">
      <legend>
        Select how the character profiles will be displayed
      </legend>
      <span class="chip">
        <input type="radio" name="thumbnail_only" id="thumbnail_only" />
        <label for="thumbnail_only">
          Thumbnail View
        </label>
      </span>
      <span class="chip">
        <input type="radio" name="list" id="list" />
        <label for="list">
          List View
        </label>
      </span>
      <span class="chip">
        <input type="radio" name="thumbnail_info" id="thumbnail_info" />
        <label for="thumbnail_info">
          Thumbnail w/ Info View
        </label>
      </span>
    </fieldset>
    <span class="chip">
      <input type="checkbox" name="display_summary" id="display_summary" />
      <label for="display_summary">
        Display Summary of Description
      </label>
    </span>
    <fieldset class="interactions border-accent">
      <legend>
        Would you like to show info on hover or click?
      </legend>
      <span class="chip">
        <input type="radio" name="click-or-hover" id="hover" value="hover" />
        <label for="hover">
          Hover
        </label>
      </span>
      <span class="chip">
        <input type="radio" name="click-or-hover" id="click" value="click" />
        <label for="click">
          Click
        </label>
      </span>
    </fieldset>
    <button class="tab" data-action="display-drawer">
      View
    </button>
  </div>
  <div class="header">
    <div class="button-wrapper">
      <button data-action="add-actor">
        Add Actor
        <i class="fas fa-user-plus"></i>
      </button>
      <button data-action="add-unlinked">
        Add Unlinked Character
        <i class="far fa-plus-octagon"></i>
      </button>
    </div>
  </div>
  {{! character list  }}
  <ul class="character-list">
    {{#each characters}}
      <li
        class="character actor-section rounded hover-shadow"
        data-id="{{this.id}}"
      >
        <div
          class="content flex-column flex-centered"
          data-action="show-profile"
          data-id="{{this.id}}"
        >
          <img
            class="actor-icon"
            src="{{this.thumbnail_image}}"
            alt="characters thumbnail image"
          />
          <h3 class="text-centered">
            {{this.name}}
          </h3>
        </div>
        <span class="horizontal-button-wrapper">
          <button data-action="edit" class="square">
            <i class="fas fa-edit"></i>
          </button>
          <button data-action="delete" class="square">
            <i class="fas fa-trash text-warning"></i>
          </button>
        </span>
        <span class="tag-input-span slight-rounded">
          {{#each this.tags}}
            <button
              class="tag-chip filled slight-rounded"
              data-action="filter-tag"
            >
              {{this}}
            </button>
          {{/each}}
        </span>
      </li>
    {{/each}}
  </ul>
</section>