<section class="full-profile" data-id="{{id}}">
  <header class="slight-rounded">
    <h3 class="rounded window-padding">
      {{name}}
    </h3>
    <button data-action="edit" class="rounded square filled">
      <i class="fas fa-edit"></i>
    </button>
  </header>
  <img src="{{char_full_body}}" alt="full body portrait" class="rounded" />
  <p class="rounded window-padding">
    {{description}}
  </p>
  <span class="input-and-label-wrapper">
    <label for="tag-input">
      Add Tag
    </label>
    <span class="tag-input-span slight-rounded">
      {{#each tags}}
        <button class="tag-chip filled slight-rounded" data-action="filter-tag">
          {{this}}
        </button>
      {{/each}}
      {{! <textarea type="text" id="tag-input" name="tag-input" /> }}
      <input type="text" id="tag-input" name="tag-input" />
    </span>
    <button data-action="save-tags" class="filled">
      <i class="fas fa-save"></i>
    </button>
  </span>
  <button data-action="add-relationship">
    Add Relationship
  </button>
  <span class="linked-documents-list">
    <ul class="button-list">
      {{#each linkedDocuments}}
        <li>
          <button
            data-action="render-sheet"
            data-collection="{{this.collectionName}}"
            data-id="{{this.documentId}}"
          >
            {{this.name}}
          </button>
        </li>
      {{/each}}
    </ul>
    <ul class="button-list">
      {{#each relationships}}
        <li>
          {{this.type}}
          <button data-action="show-relationship">
            {{this.name}}
          </button>
        </li>
      {{/each}}
    </ul>
  </span>
</section>