<section class="full-profile" data-id="{{id}}">
  <header class="slight-rounded">
    <h3 class="rounded window-padding">
      {{name}}
    </h3>
    <button data-action="edit" class="rounded square">
      <i class="fas fa-edit"></i>
    </button>
  </header>
  <img src="{{char_full_body}}" alt="full body portrait" class="rounded" />
  <p class="rounded window-padding">
    {{description}}
  </p>
  <span class="input-and-label-wrapper">
    <label for="tag-input">
      Add Tag
    </label>
    <span class="tag-input-span slight-rounded">
      {{#each tags}}
        <span class="tag-chip filled slight-rounded">
          {{this}}
        </span>
      {{/each}}
      {{! <textarea type="text" id="tag-input" name="tag-input" /> }}
      <input type="text" id="tag-input" name="tag-input" />
    </span>
    <button data-action="save-tags" class="filled">
      <i class="fas fa-save"></i>
    </button>
  </span>
</section>