<form class="window-padding window-gap" action="">
  <!--input for name-->
  <span class="input-and-label-wrapper">
    <label class="text-primary" for="name">
      Character Name
    </label>
    <input type="text" name="name" id="name" value="{{name}}" />
  </span>
  <!--input for description-->
  <span class="input-and-label-wrapper">
    <label class="text-primary" for="description">
      Description
    </label>
    <textarea name="description" id="description" value="{{description}}">
      {{description}}
    </textarea>
  </span>
  {{! Full body image input }}
  <span class="input-and-label-wrapper">
    <label class="text-primary" for="char-full-body">
      Add Full-Body Image
    </label>
    <span class="file-input-wrapper">
      <input
        type="text"
        placeholder="path/image.png"
        value="{{char_full_body}}"
        name="char_full_body"
        id="char-full-body"
      />
      <button class="filled" data-action="open-picker">
        <i class="fas fa-file-import"></i>
        Choose A File
      </button>
    </span>
  </span>
  <!--Add portrait img / add some way to clip it with various shapes-->
  <span class="input-and-label-wrapper">
    <label class="text-primary" for="thumbnail-image">
      Add Thumbnail or Token Image
    </label>
    <span class="file-input-wrapper">
      <input
        type="text"
        placeholder="path/image.png"
        value="{{thumbnail_image}}"
        name="thumbnail_image"
        id="thumbnail-image"
      />
      <button class="filled" data-action="open-picker">
        <i class="fas fa-file-import"></i>
        Choose A File
      </button>
    </span>
  </span>
  <span class="horizontal-button-wrapper">
    <button type="submit" class="filled">
      Submit
    </button>
    <button data-action="cancel" class="ghost">
      Cancel
    </button>
  </span>
</form>