	<button class="showClocks" data-action="showClocks">Show Clocks</button>
	{{#with data}}
	{{!-- <div class="categoryFilter">
		{{#each this}}
			<input type="checkbox" id="{{@key}}" data-name="{{@key}}">
			<label for="{{@key}}"><span class="filter__icon"></span>{{convertToSentence @key}}</label>
		{{/each}}
	</div> --}}
	<div class="clockCategory__wrapper">
	
		{{#each this}}
			<div class="clockCategory {{@key}} glass" data-name="{{@key}}">
			<button class="clockCategory__btn glass" data-action="expand"><span class="tooltip">{{lookup @root.tooltipText @key}}</span><span class="accordionBtn__text">{{convertToSentence @key}}</span></button>
				<div class="clockCategory__inner">
					{{#each this}}
					{{> 'modules/hud-and-trackers/templates/clock.hbs' miniDisplay=true}}
					{{/each}}
					{{!-- <button class="addClock actionButton glass" data-action="addClock" title="{{lookup @root.addClockTooltipText @key}}"><span class="tooltip">{{lookup @root.addClockTooltipText @key}}</span><i class="fas fa-plus"></i></button> --}}
					<button class="addClock actionButton glass" data-action="addClock" title="{{lookup @root.addClockTooltipText @key}}"><i class="fas fa-plus"></i></button>
				</div>
			</div>
		{{/each}}
	</div>
	{{/with}}
	{{!-- <button class="addClock" data-action="addClock"><i class="fas fa-plus"></i>New Clock</button> --}}
