	<button class="showClocks" data-action="showClocks">Show Clocks</button>
	{{#with data}}
	{{!-- <div class="categoryFilter">
		{{#each this}}
			<input type="checkbox" id="{{@key}}" data-name="{{@key}}">
			<label for="{{@key}}"><span class="filter__icon"></span>{{convertToSentence @key}}</label>
		{{/each}}
	</div> --}}
	<div class="clockCategory__wrapper">
	
		{{#each this}}
			<div class="clockCategory {{@key}} glass" data-name="{{@key}}">
			<button class="clockCategory__btn glass__btn {{#if (lookup @root.categoriesShown @key)}}open{{/if}}" data-action="expand" title="{{lookup @root.tooltipText @key}}">{{convertToSentence @key}}</button>
				<div class="clockCategory__inner">
				{{!-- <div class="clockCategory__inner {{#if (lookup @root.categoriesShown @key)}}is-visible{{else}}is-hidden{{/if}}"> --}}
					{{#each this}}
					{{> 'modules/hud-and-trackers/templates/clock.hbs' miniDisplay=true}}
					{{/each}}
					<button class="addClock actionButton glass" data-action="addClock" title="{{lookup @root.addClockTooltipText @key}}"><i class="fas fa-plus"></i></button>
				</div>
			</div>
		{{/each}}
	</div>
	{{/with}}
