	<button class="showClocks" data-action="showClocks">Show Clocks</button>
	{{#with data}}
	{{!-- <div class="categoryFilter">
		{{#each this}}
			<input type="checkbox" id="{{@key}}" data-name="{{@key}}">
			<label for="{{@key}}"><span class="filter__icon"></span>{{convertToSentence @key}}</label>
		{{/each}}
	</div> --}}
	<div class="clockCategory__wrapper">
	
		{{#each this}}
			<div class="clockCategory {{@key}} glass" data-name="{{@key}}">
			<button class="btn glass" data-action="expand"><span class="accordionBtn__text">{{convertToSentence @key}}</span></button>
			{{!-- <button class="btn {{#unless (lookup @root.categoriesShown @key)}}collapsed{{/unless}} glass" data-action="expand"><span class="accordionBtn__text">{{convertToSentence @key}}</span></button> --}}
				{{!-- <h3 class="clockCategory__title">{{convertToSentence @key}}</h3> --}}
				<div class="clockCategory__inner">

				{{!-- </div> {{#unless (lookup @root.categoriesShown @key)}}hidden{{/unless}}"> --}}
					{{#each this}}
					{{> 'modules/hud-and-trackers/templates/clock.hbs' miniDisplay=true}}
					{{/each}}
				</div>
			</div>
			{{!-- {{else}} --}}
			{{!-- <button class="clockCategory collapsed"> --}}
				{{!-- <h3 class="clockCategory__title">{{convertToSentence @key}}</h3> --}}
			{{!-- </button> --}}
		{{/each}}
{{!-- 
		{{#unless (eq (objectEmpty sharedClocks) "true")}}
		<div class="clockCategory sharedClocks">
			<h3>Shared Clocks</h3>
			{{#each sharedClocks}}
			{{> 'modules/hud-and-trackers/templates/clock.hbs' miniDisplay=true}}
			<hr>
			{{/each}}
		</div>
		{{/unless}}
		{{#unless sceneClocks}}
		{{#unless (eq (objectEmpty sceneClocks) "true")}}
		<div class="clockCategory sceneClocks">
			<h3>Scene-Specific Clocks</h3>
			{{#each sceneClocks}}
		{{> 'modules/hud-and-trackers/templates/clock.hbs' miniDisplay=true}}
		<hr>
			{{/each}}
		</div>
		{{/unless}}
		{{/unless}}
		{{#unless (eq (objectEmpty myClocks) "true")}}
		<div class="clockCategory myClocks">
			<h3>Your Clocks</h3>
			{{#each myClocks}}
		{{> 'modules/hud-and-trackers/templates/clock.hbs' miniDisplay=true}}
		<hr>
			{{/each}}
		</div>
		{{/unless}} --}}
	</div>
	{{/with}}
	<button class="addClock" data-action="addClock"><i class="fas fa-plus"></i>New Clock</button>
