	<button class="showClocks" data-action="showClocks">Show Clocks</button>
	{{#with data}}
	<div class="clockCategory__wrapper">
		{{#each this}}
		<input type="checkbox" id="{{@key}}" data-name="{{@key}}">
		<label for="{{@key}}">{{convertToSentence @key}}</label>
		{{!-- <label class="switch">
			<input type="checkbox" data-name="{{@key}}">
			{{@key}}
		</label> --}}
		{{/each}}
		{{#each this}}
			{{#if (lookup @root.categoriesShown @key)}}
			<div class="clockCategory {{@key}}">
			<h3>{{convertToSentence @key}}</h3>
			{{#each this}}
			{{> 'modules/hud-and-trackers/templates/clock.hbs' miniDisplay=true}}
			<hr>
			{{/each}}
		</div>
			{{/if}}
		{{/each}}
{{!-- 
		{{#unless (eq (objectEmpty sharedClocks) "true")}}
		<div class="clockCategory sharedClocks">
			<h3>Shared Clocks</h3>
			{{#each sharedClocks}}
			{{> 'modules/hud-and-trackers/templates/clock.hbs' miniDisplay=true}}
			<hr>
			{{/each}}
		</div>
		{{/unless}}
		{{#unless sceneClocks}}
		{{#unless (eq (objectEmpty sceneClocks) "true")}}
		<div class="clockCategory sceneClocks">
			<h3>Scene-Specific Clocks</h3>
			{{#each sceneClocks}}
		{{> 'modules/hud-and-trackers/templates/clock.hbs' miniDisplay=true}}
		<hr>
			{{/each}}
		</div>
		{{/unless}}
		{{/unless}}
		{{#unless (eq (objectEmpty myClocks) "true")}}
		<div class="clockCategory myClocks">
			<h3>Your Clocks</h3>
			{{#each myClocks}}
		{{> 'modules/hud-and-trackers/templates/clock.hbs' miniDisplay=true}}
		<hr>
			{{/each}}
		</div>
		{{/unless}} --}}
	</div>
	{{/with}}
	<button class="addClock" data-action="addClock"><i class="fas fa-plus"></i>New Clock</button>
