<section class="editModeWrapper">
    <section class="innerSceneWrapper">
        <h3>
            Inner Scenes
        </h3>
        <ul class="innerScenes">
            {{#each innerScenes}}
				{{>  "modules/hud-and-trackers/templates/inner-scene-display/partials/edit-list-item.hbs" hoverClass="hover-bg-primary" action="browse" type="innerScene" includeInput=true basePath=@root.basePath}}
            {{/each}}
				{{!-- Default inner scene for adding new ones --}}
				{{>  "modules/hud-and-trackers/templates/inner-scene-display/partials/edit-list-item.hbs" hoverClass="hover-bg-primary" action="browse" type="innerScene" includeInput=true imagePath="/Idyllwild/Art/Characters/placeholder.webp" name="New Inner Scene"}}
        </ul>
    </section>
    <section class="selectedCharactersWrapper">
        <h3>
            Characters In Scene
        </h3>
        <ul class="addedToScene">
            {{#each characters}}
				{{>  "modules/hud-and-trackers/templates/inner-scene-display/partials/edit-list-item.hbs" hoverClass="hover-bg-removable" action="remove" type="character"}}
            {{/each}}
        </ul>
    </section>
    <hr />
    <section class="characterOptionsWrapper | scroll-y">
        <h3>
            Character Options
        </h3>
        <label for="clanSelect">
            Pick A Clan
        </label>
        <select name="clanSelect" id="clanSelect">
            {{selectOptions clans selected=clanSelect nameAttr="value" labelAttr="name"}}
        </select>
        <ul class="characterOptions">
            {{#each options}}
                <li
                    class="option interactive | bg-neutral-darkest hover-bg-primary rounded"
                    data-action="select"
                    data-name="{{this.name}}"
                    data-image-path="{{this.imagePath}}"
                >
                    <img src="{{this.imagePath}}" alt="{{this.name}}" srcset="" />
                    <p>
                        {{this.name}}
                    </p>
                </li>
            {{/each}}
        </ul>
    </section>
</section>